.area_login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://images.wallpaperscraft.com/image/single/burj_al_arab_hotel_dubai_uae_59061_3840x2160.jpg) no-repeat center / cover;
}

.container {
    margin-top: -20px;
}

.area_login h1{
   width: 300px;
   font-size: 24px;
   font-weight: 800;
   color: #ffffff;
   text-shadow: 1px 2px 4px #000000;
   letter-spacing: 10px;
   margin-bottom: 10px;
   text-align: center;
}

.form_login {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #00000045;
    border-radius: 10px;
    border:solid 2px #0000003a;
    /* box-shadow:inset 4px 6px 10px 2px #000000; */
    position: relative;
}

.form_login label {
    display: block;
    padding: 10px 0px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 17px;
    text-shadow: 1px 2px 4px #000000;
    letter-spacing: 2px;
}
.form_login input {
    height: 40px;
    width: 230px;
    padding: 0px 10px;
    background-color:rgba(34, 33, 33, 0.139);
    box-shadow:inset  2px 2px 8px #000;
    border: none;
    color: #000000;
    font-size: 16px;
    font-weight: 800;
}
.form_login input::placeholder {
    color: #c6c6c6;
}

.form_login button {
    margin-top:10px;
    padding:10px;
    width:100px;
    font-weight:bolder;
    border-radius: 10px;
    border: none;
    background-color: #000000;
    color: #000000;
    transition: all 0.3s;
    box-shadow: 2px 2px 10px #000;
    color: #c6c6c6;
    cursor: pointer;
}

.form_login button:hover {
    background-color:#050505;
    color: #fff;
}

@media (max-width:480px){
    .area_login {
        background: url(https://images.wallpaperscraft.com/image/single/burj_al_arab_hotel_dubai_uae_59061_3840x2160.jpg) no-repeat  -400px center / 250% 100%;
    }
}
