
.nave_Ber {
    width: 240px;
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:var( --cor--fundo--naveBar--);
    transition: all 0.2s;
    position: relative;
    box-shadow: 4px 0px 10px  #000;
    overflow-x: hidden;
   
}

.nave_Ber label{
    height: 120px;
    width: 120px;
    margin-top: 10px;
    border-radius:50%;
}
.nave_Ber label h4 {
    color: #fff;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}

.nave_Ber label::after {
    content: "Editar Foto";
    display: none;
    width: 50px;
    position: absolute;
    background-color: var( --cor--sinza--text--icone--);
    color: var(--cor--white_hover--);
    padding: 5px;
    top: 10px;
    right: 10px;
    text-align: center;
    border-radius:10px 10px 10px 0px;
}

.nave_Ber label:hover::after{
    display: block;
    font-weight: bolder;
    font-size: 14px;
    border:solid 1px var(--cor--border--)
}

.nave_Ber img {
    height: 120px;
    width: 120px;
    background-color:rgba(0, 0, 0, 0);
    border-radius:50%;
    border: solid 2px  var(--cor--white_hover--);
    cursor: pointer;
    position: relative;
}

.nave_Ber ul {
    list-style: none;
    width: 100%;
    margin-top: 160px;
    position: absolute;
}

.nave_Ber ul li{
    width: 260px;
    padding: 0px 10px;
    margin-top: 10px;
    font-size: 18px;
}

.link {
    display: flex;
    align-items:center;
    gap: 20px;
    color: var( --cor--sinza--text--icone--);
    text-decoration: none;
    transition: all 0.3s;
    font-weight: 800;
}
.link_Ativo {
    display: flex;
    align-items:center;
    gap: 20px;
    text-decoration: none;
    transition: all 0.3s;
    font-weight: 800;
}

.icone {
    font-size: 35px;
    padding: 6px;
    border-radius: 8px;
    background-color: var(--cor--black_backgrou--icone--);
}

.nave_Ber ul li:hover .link, .link_Ativo {
    font-weight: 800;
    color: var( --cor--white_hover--);
    text-shadow: 1px 2px 6px var(--cor--black_hover--);
}

.nave_Ber ul li:hover .icone, .icone_Ativo {
    background-color: var(--cor--black_backgrou--icone--);
    border:solid 2px var( --cor--white_hover--);
    box-shadow: 1px 3px 6px 1px var( --cor--black_hover--);
}

.icone_Ativo {
    font-size: 35px;
    padding: 6px;
    border-radius: 8px;
}
