
.nave_Ber {
    width: 200px;
    height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:rgba(0, 0, 0, 0.698);
    overflow: hidden;
    transition: all 0.3s;
    position: relative;
    box-shadow: 4px 5px 15px  #000000a1;
}

.nave_Ber div{
    height: 120px;
    width: 120px;
    margin-top: 20px;
    border-radius:50%;
}
.nave_Ber div h4 {
    color: #fff;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px;
}

.nave_Ber div::after {
    content: "Editar Foto";
    display: none;
    width: 50px;
    position: absolute;
    background-color: rgba(112, 111, 111, 0.551);
    color: #fff;
    padding: 5px;
    top: 10px;
    right: 10px;
    text-align: center;
    border-radius:10px 10px 10px 0px;
}

.nave_Ber div:hover::after{
    display: block;
}

.nave_Ber img {
    height: 120px;
    width: 120px;
    background-color:rgba(0, 0, 0, 0);
    border-radius:50%;
    border: solid 2px  rgb(141, 141, 141);
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}
.nave_Ber img:hover {
    border: solid 2px  rgb(255, 255, 255);
}

.nave_Ber ul {
    list-style: none;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.nave_Ber ul li{
    margin-top: 10px;
    width: 200px;
    padding-left: 10px;
}

.link {
    display: flex;
    align-items:center;
    gap: 20px;
    color: rgb(141, 141, 141);
    text-decoration: none;
    transition: all 0.3s;
}
.link_Ativo {
    display: flex;
    align-items:center;
    gap: 20px;
    text-decoration: none;
    transition: all 0.3s;
}

.icone {
    font-size: 35px;
    padding: 6px;
    border-radius: 8px;
    background-color: rgb(20, 20, 20);
}

.nave_Ber ul li:hover .link, .link_Ativo {
    color: #fff;
}

.nave_Ber ul li:hover .icone, .icone_Ativo {
    background-color: rgb(0, 0, 0);
}

.icone_Ativo {
    font-size: 35px;
    padding: 6px;
    border-radius: 8px;
}



