:root {
  --cor--sinza--text--icone--:rgb(141, 141, 141);
  --cor--white_hover--:rgb(255, 255, 255);
  --cor--black_backgrou--icone--:rgb(20, 20, 20);
  --cor--black_hover--:rgb(0, 0, 0);
  --cor--black_shadow--:rgb(0, 0, 0);
  --cor--yellow_hover--:#ec972f;
  --cor--fundo--:rgb(54, 54, 54);
  --cor--border--:rgb(141, 141, 141);

}

.newCores {
  --cor--sinza--text--icone--:rgb(109, 161, 194);
  --cor--white_hover--:rgb(204, 105, 0);
  --cor--black_backgrou--icone--:rgb(20, 20, 20);
  --cor--black_hover--:rgb(0, 0, 0);
  --cor--black_shadow--:rgb(0, 0, 0);
  --cor--yellow_hover--:#ec972f;
  --cor--fundo--:rgb(236, 236, 236);
  --cor--border--:rgb(0, 0, 0);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  font-family:sans-serif;
}

body {
  background-color:var(--cor--fundo--);
}